@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download uw data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h2>@ViewData["Title"]</h2>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}